<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <link type="text/css" href="../CSSFiles/CustomStylesheet.css" rel="stylesheet" />
    <script src="../Scripts/angular.min.js"></script>
</head>
<body>
    <div ng-app>
        <p>String:<input type="text" ng-model="txtstring" /></p>{{txtstring}}
        <p>Number:<input type="number" ng-model="txtNumber" /></p>{{txtNumber}}
        <p>Date:<input type="date" ng-model="txtDate" /></p>{{txtDate}}
        <p>Email:<input type="email" ng-model="txtEmail" /></p>{{txtEmail}}
        <p>Url: <input type="url" ng-model="txtURL" /></p>{{txtURL}}
    </div>
</body>
</html>